@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss/tailwind.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-modal {
  width: 90%;
  /* Chiếm 4/5 màn hình theo chiều ngang */
  height: 90%;
  /* Chiếm 4/5 màn hình theo chiều dọc */
  /* Hiệu ứng blur */
  background-color: transparent !important;
  /* Loại bỏ màu nền */
  box-shadow: none;
  /* Loại bỏ shadow */
  border: none;
  /* Loại bỏ border */
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: white;
}

#left-tabs-example .flex-column,
#left-tabs-example .flex-column * {
  box-sizing: border-box;
}

/* User Card */
.user-card {
  position: relative;
  border-bottom: 1px solid #ebedf0;
  width: 100%;
  background-color: white;
  color: black;
}

.user-card:hover {
  background-color: #e5efff;
}

.user-card .text-content {
  padding-top: 10px;
  width: 170px;
}

.user-card .name {
  font-weight: 700;
}

.user-card .text,
.user-card .date {
  top: 0px;
  font-size: 14px;
  color: black;
}

.user-online {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: rgb(0, 219, 0);
  position: absolute;
  bottom: 19px;
  left: 62px;
  z-index: 2;
  border: 2px solid white;
  padding: 7px;
}
.user-offline {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: rgb(219, 0, 0);
  position: absolute;
  bottom: 19px;
  left: 62px;
  z-index: 2;
  border: 2px solid white;
  padding: 7px;
}

/* Message Box */
.message-box {
  height: 100vh;
  background-color: white;
  border: solid 1px #ebedf0;
}

/* Notification */

.this-user-notifications {
  display: flex;
  color: white;
  background: #c31818;
  height: 20px;
  width: 20px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
  /* Độ rộng của thanh cuộn */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  /* Màu của thanh cuộn */
  border-radius: 5px;
  /* Bo tròn viền của thanh cuộn */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Màu của thanh cuộn khi di chuột qua */
}

/* Chat Box */
.chat-box {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  height: 100vh;
  z-index: 1000;
  transition: right 0.3s ease;
}

.chat-header {
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 0.85rem;
  color: black;
  background: white;
  border-bottom: 1px solid #ebedf0;
}

.chat-header-condition {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

.chat-header-icon {
  font-size: 38px;
  cursor: pointer;
}

.chat-header-icon:hover {
  font-size: 38x;
  background-color: rgb(200, 200, 200);
}

/* Messages */
.messages {
  max-height: 100vh;
  overflow-y: auto;
  padding: 0 2rem;
  background: rgb(207, 207, 207);
  background: linear-gradient(
    45deg,
    #a9b8bbff,
    #c1c4c7ff,
    #d4ccc9ff,
    #d9d9d2ff,
    #e8e9e4ff
  );
}

.message {
  color: white;
  background: #282828;
  padding: 0.75rem;
  border-radius: 5px;
  max-width: 50%;
}

.message.self {
  color: black;
  background: #e5efff;
}

.message-footer {
  font-size: 12px;
  align-self: flex-end;
  font-weight: 400;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.file-wrapper {
  position: relative;
  display: inline-block;
}
.reply-wrapper {
  position: relative;
  display: inline-block;
}

.delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}

/* Chat Input  */
.chat-input {
  color: black;
  border-top: solid 1px #ebedf0;
  margin-top: auto;
  width: 100%;
  background: white;
  padding: 1rem;
  padding-top: 0px;
  display: block;
  align-items: flex-end;
  position: relative;
  font-size: 24px;
}

.chat-input-icon:hover {
  cursor: pointer;
  background-color: rgb(200, 200, 200);
  padding-top: 4px;
  padding-bottom: 4px;
}

.send-btn {
  /* border: solid 1px black; */
  background: white;
  color: #0068ff;
  height: 45px;
  width: 45px;
  font-weight: bold;
}

.nav-contact-header {
  display: flex;
  justify-content: end;

  button {
    margin-right: 10px;
    background-color: white;
  }

  button:hover {
    background-color: lightgray;
  }
}

.nav-contact {
  font-size: 18px;
  height: 100vh;
  border-right: 1px solid #ebedf0;

  .tab-link:hover {
    background-color: #e5efff;
  }
}

.friend-list-header {
  border-bottom: 1px solid black;
  color: black;

  span {
    font-size: 14px;
  }
}

.group-list-header {
  border-bottom: 1px solid black;
  color: black;

  span {
    font-size: 14px;
  }
}

.filter-az {
  border: 1px solid bl;
}

.friend-requests-header {
  border-bottom: 1px solid black;
  color: black;

  span {
    font-size: 14px;
  }
}

.tooltip-content {
  position: absolute;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
  height: 180px;
  border-radius: 10px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  margin-left: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-modal .modal-dialog {
  max-width: 28rem;
}

.coverPic {
  max-width: 28rem;
  /* 96 * 0.25 = 24rem */
}

.custom-modalupdate .modal-dialog {
  max-width: 28rem;
  /* 96 * 0.25 = 24rem */
  max-height: 50rem;
}

.custom-modalupdate {
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

.custom-modalupdate.show {
  transform: translateX(0);
}

.select-wrapper {
  position: relative;
  display: inline-block;
  /* Đảm bảo các select nằm trên cùng một hàng */
}

.select-dropdown {
  position: absolute;
  top: 100%;
  /* Hiển thị dropdown menu ở dưới select */
  left: 0;
  width: 100%;
  z-index: 999;
}

.lds-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 3px solid #fcf;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.message-buttons-container {
  display: flex;
  /* Sử dụng flexbox để sắp xếp các nút */
  align-items: center;
  /* Canh giữa theo chiều dọc */
}

/* Nếu message.senderId == userInfo?.id, sắp xếp từ phải sang trái */
.message-buttons-container.sender-is-user {
  flex-direction: row-reverse;
}

/* Nếu message.senderId != userInfo?.id, sắp xếp từ trái sang phải */
.message-buttons-container.sender-not-user {
  flex-direction: row;
}
.container {
  display: grid;
  grid-template-columns: 7fr 3fr;
}

.myId {
  margin-right: 5rem;
  border-radius: 5px;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 2rem;
  display: grid;
  justify-content: center;
  align-content: center;
}

.call-button {
  text-align: center;
  margin-top: 2rem;
}

.video-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  margin-top: 10rem;
  margin-left: 10rem;
}

.caller {
  text-align: center;
  color: #fff;
}
.blur-bg {
  background-color: rgba(0, 0, 0, 0.5); /* Điều chỉnh giá trị blur tùy thích */
}
